* {
  box-sizing: border-box;
}
/* body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    min-height: 100vh;
} */
ul{
    font-size: xx-large;
    color: cadetblue;
}
#category1 {
  width: 30%;
  position: relative;
  left: 0;
  font-size: large;
  cursor: pointer;
  list-style: none;
}
#done{
  
  clear: both;
  /* border: 1px solid red; */
  font-size: larger;
  margin-left: auto;
  padding: auto;
  height: 40vh;
  margin-bottom: 10vh;

}
.food{
  color: blue;
  font-weight: 700;
  font-style: italic;
}
button{
cursor: pointer;
color: green;
display: flex;
float:right;
font-size: x-large;
}