* {
  box-sizing: border-box;
}
/* body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    min-height: 100vh;
} */
#category1 {
  width: 30%;
  position: relative;
  left: 0;
  font-size: large;
  cursor: pointer;
  list-style: none;
}
